main {
    width: 80%;
    margin: 1rem auto;
}

.flickName {
    margin:0 0.75rem;
}

.template {
    display: none;
}

.actions .button {
    margin-bottom: 0;
}

.flick.fav {
    background-color: #62e6ff;
}